@import"variables";
@import"mixin";


.div__container--form-price{
    position: relative;
    z-index: 1;
    color: white;
    border: 4px solid $borderTransparent;
    background: $backgroundGlassDark;
    backdrop-filter: blur(10px);
    margin-left: 10%;
    height: 100vh;

    h2,
    h5 {
        text-shadow: $text-shadow;
    }

    input {
        background-color: $inputBackground;
        outline: none;
        height: 5vh;
        border: $borderTransparent;
        transition: all 0.5s;
        cursor: pointer;
        &::placeholder {
            font-size: 15px;
        }

        &[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &:hover{transform: scale(1.02,1)}
        &:focus {
            border: 2px solid $greenPseudoclass;
        }
    }

    select {
        outline: none;
        background-color: $inputBackground;
        font-size: 15px;
        height: 5vh;
        color: grey;
        transition: all 0.5s;
        cursor: pointer;
        &:hover{transform: scale(1.02,1)}
        &:focus {
            border: 2px solid $greenPseudoclass;
            background-color: rgb(235, 239, 239);
        }


    }

    button {
        @include button;
        height: 5vh;
        border: $borderTransparent;
        background-color: $greenPseudoclass;

        &:hover {
            @include button-transform;
            background-color: $violet;
        }

        &:active {
            background-color: $violetPseudoclass;
        }
    }
}

.div__container--sales-area{
    
    border: 4px solid $borderTransparent;
    background-color: $greenPseudoclass;
    border-top-left-radius: 110px ;
    border-bottom-right-radius: 110px;
    transform: translate(0px,-200px);
    color: rgb(66, 65, 65);
    
    p {
        text-shadow: $text-shadow;
    }
  .div__dividier{border-bottom: 3px solid $borderTransparent; border-radius: 1rem;}
}

@media screen and (min-width:300px) and (max-width:994px){

    .div__container--form-price{
        margin: 0;
    }
    .div__container--sales-area{
        transform: translate(0px,0px);
        margin-top: 3%;
        
    }  
    

}