@import"variables";

.section__container--style {
    h3 {
        animation-duration: 1.3s;
        background-color: #eda756;
        color: rgb(59, 59, 59);
        font-family: 'Open Sans', sans-serif;
    }
}