* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.section__container--style {
    h3 {
        background-color: #eda756;
        color: rgb(59, 59, 59);
        font-family: 'Open Sans', sans-serif;
    }
}