
$orange:#eda756;
$orangePseudoclass:rgb(231, 150, 58);
$violet:#dc75f8f8;
$violetPseudoclass:#bd63d6f8;
$green:#95ea7df8;
$greenPseudoclass:#52c16a;
$turquoise:rgba(123, 173, 250, 0.956);
$borderTransparent: #22222222;
$backgroundGlassDark:#222222a7;
$text-shadow: 0px 12px 20px rgba(24, 24, 24, 0.921);
$inputBackground:rgba(254, 255, 255, 0.86);
$black:rgba(63, 63, 63, 0.929);